body { margin: 0; padding: 0; }
.full-height{ height: 100vh; }
.btn-custom {
    margin: 10px;
    width: 200px;
    height: 100px;
    font-size: 1.5rem;
}
#map { 
    bottom: 0;
    position: absolute; 
    top: 0; 
}
.btn-mode{ margin: 20px; }
.coords{ position: absolute; bottom: 0;}
.sm-legend{ font-size: 14px; }

.opacity-ctrl{
    display: none;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 75px;
    padding: 20px;
    text-align: center;
    top: calc(30vh + 65px);
    right: 10px;
    z-index: 998;
}
.opc-sh{ float: right; }
.opc-value{ font-size: small; margin: 0}

.collapsible{
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
    width: 75px;
    position: absolute;
    top: 30vh;
    right: 10px;
    z-index: 999;
}
.active, .collapsible:hover{ background-color: #ccc; }
